body {
    margin: 60px auto;
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-color: #fbfbfb;
}
a {
    text-decoration: none;
    color: #7f7f7f;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4em;
    color: #040404;
}
h2 {
    font-size: 2em;
    color: #040404;
}
h3 {
    font-size: 1.5em;
    color: #040404;
}
p {
    font-size: 1em;
    line-height: 1.5em;
    color: #0c0c0c;
}
li {
    font-size: 1em;
    line-height: 1.5em;
    color: #0c0c0c;
    display: block;
}
footer {
    border-top: 1px solid #dbdbdb;
    margin-top: 2em;
    font-size: 0.75em;
}
ol {
    counter-reset: item;
}
li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
}
