<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<a name="top"></a>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<div style="float: left; width: 20%;"><p style="margin-left: 0px;"><a href="mailto:oxfeud@qualityservice.com">oxfeud@qualityservice.com</a></p></div>
				<div style="float: left; width: 60%;"><p style="text-align: center; margin-left: 0px;"><a href="#top">Back to top</a></p></div>
				<div style="float: right; width: 20%;"><p style="color: #7f7f7f; margin-left: 0px; text-align: right;">Updated 21 May 2017</p></div>
			</footer>
		</body>
	</html>
