<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<div style="float: left;"><p><a href="mailto:oxfeud@qualityservice.com">oxfeud@qualityservice.com</a></p></div>
				<div style="float: right;"><p style="color: #7f7f7f;">18 May 2017</p>
			</footer>
		</body>
	</html>
